.artist-page-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.artist-page-main {
  width: 100%;
  height: 721px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.artist-page-content {
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  height: 450px;
  background-color: antiquewhite;
}

.artist-page-content-name {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 80%;
  height: 10%;
  background-color: #fff;
}

.artist-page-content-description {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 80%;
  height: 10%;
  background-color: #fff;
}

.artist-page-content-dob {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 80%;
  height: 10%;
  background-color: #fff;
}

.artist-page-content-pob {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 80%;
  height: 10%;
  background-color: #fff;
}

.artist-page-content-name-input{
border : none;
height: 90%;
width: 92.95%;
margin-left: 3px;
}

.artist-page-content-description-input{
  border : none;
  height: 90%;
  width: 88.4%;
  margin-left: 3px;
}

.artist-page-content-dob-input{
  border : none;
  height: 90%;
  margin-left: 3px;
  width: 87.12%;
}

.artist-page-content-pob-input{
  border : none;
  height: 90%;
  margin-left: 3px;
  width: 86.5%;
}

.artist-page-content-name-label{
  margin-left: 5px;
}

.artist-page-content-description-label{
  margin-left: 5px;
}

.artist-page-content-dob-label{
margin-left: 5px;
}

.artist-page-content-pob-label{
  margin-left: 5px;
}

.btn-agree{
  margin-left: 5px;
}