.page-container{
    width: 100%;
   
}

.page-main{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 721px;
    flex-wrap: wrap;
    
}
.page-content{
  width: 150px;
  height: 100px;
  background-color:rgb(244, 212, 169);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  font-weight: 500;
  color: #333;
  margin-left: 10%;

}

.page-content:hover{
    background-color:antiquewhite;
    color: #333;
}


